In [1]:
import pandas as pd

In [2]:
drug=pd.read_csv('drug.csv')

In [3]:
drug.head()

   Age Sex      BP Cholesterol  Na_to_K   Drug
0   23   F    HIGH        HIGH   25.355  drugY
1   47   M     LOW        HIGH   13.093  drugC
2   47   M     LOW        HIGH   10.114  drugC
3   28   F  NORMAL        HIGH    7.798  drugX
4   61   F     LOW        HIGH   18.043  drugY

In [4]:
drug.isnull().sum()

Age            0
Sex            0
BP             0
Cholesterol    0
Na_to_K        0
Drug           0
dtype: int64

In [5]:
drug.duplicated().sum()

0

In [6]:
drug['Drug'].value_counts()

drugY    91
drugX    54
drugA    23
drugB    16
drugC    16
Name: Drug, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder
lbc=LabelEncoder()
drug['Sex']=lbc.fit_transform(drug['Sex'])
drug['Cholesterol']=lbc.fit_transform(drug['Cholesterol'])
drug['Drug']=lbc.fit_transform(drug['Drug'])
drug['BP']=lbc.fit_transform(drug['BP'])
drug.head()

   Age  Sex  BP  Cholesterol  Na_to_K  Drug
0   23    0   0            0   25.355     4
1   47    1   1            0   13.093     2
2   47    1   1            0   10.114     2
3   28    0   2            0    7.798     3
4   61    0   1            0   18.043     4

In [12]:
y=drug['Drug']
x=drug.drop('Drug',axis=1)

In [13]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.3,random_state=42)

In [14]:
from sklearn.tree import DecisionTreeClassifier
tree=DecisionTreeClassifier()
tree.fit(x_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

In [16]:
y_pred=tree.predict(x_test)
y_pred

array([3, 4, 3, 2, 4, 4, 4, 3, 0, 3, 0, 3, 4, 0, 1, 4, 1, 3, 2, 4, 0, 3,
       3, 4, 4, 4, 2, 3, 4, 3, 4, 2, 2, 4, 0, 4, 3, 0, 4, 0, 3, 3, 3, 4,
       4, 2, 4, 4, 4, 3, 3, 4, 3, 4, 3, 4, 0, 4, 4, 4, 0, 4, 1, 4, 3, 4,
       4, 4, 4, 0, 3, 3, 3, 1, 0, 3, 4, 3, 0, 3, 2, 4, 0, 0, 0, 1, 1, 0,
       4, 0, 4, 4, 0, 4, 4, 4, 3, 4, 3, 4, 4, 3, 1, 3, 4, 0, 2, 4, 3, 3,
       4, 4, 3, 3, 1, 4, 1, 3, 4, 4, 4, 1, 2, 0, 4, 4, 4, 0, 3, 3, 4, 2,
       4, 4, 3, 0, 3, 3, 4, 4], dtype=int64)

In [17]:
from sklearn.metrics import confusion_matrix
con=confusion_matrix(y_pred,y_test)
con

array([[19,  3,  0,  0,  0],
       [ 0, 10,  0,  0,  0],
       [ 0,  0, 10,  0,  0],
       [ 0,  0,  0, 39,  0],
       [ 0,  0,  0,  0, 59]], dtype=int64)

In [18]:
from sklearn.metrics import accuracy_score
accuracy_score(y_pred,y_test)

0.9785714285714285

In [ ]:
import os
os.environ