In [1]:
import numpy as np

In [21]:
import pandas as p

In [15]:
s1=p.Series(data=[1,2,3,4])
s1.index=['q','s','w','t']
s1

q    1
s    2
w    3
t    4
dtype: int64

In [16]:
s1=p.Series([2,4,6,8,10])
s2=p.Series([1,3,5,7,9])
add=s1+s2
sub=s1-s2
mul=s1*s2
div=s1/s2
print(add)
print(sub)
print(mul)
print(div)

0     3
1     7
2    11
3    15
4    19
dtype: int64
0    1
1    1
2    1
3    1
4    1
dtype: int64
0     2
1    12
2    30
3    56
4    90
dtype: int64
0    2.000000
1    1.333333
2    1.200000
3    1.142857
4    1.111111
dtype: float64

In [17]:
ser=p.Series(['a','b','c','d'])
print(type(ser))
lis=ser.tolist()
print(lis)
print(type(lis))

<class 'pandas.core.series.Series'>
['a', 'b', 'c', 'd']
<class 'list'>

In [26]:
name=['Sachin','Ganguly','Kohli','Johnson','Tylor','Waugh','Yuvraj','Kambil','Srinath','Munaf']
score=[12.5,9,16.5,np.nan,9,20,14.5,np.nan,8,19]
attempts=[1,3,2,3,2,3,1,1,2,1]
qualify=['yes','no','yes','no','no','yes','yes','no','no','yes']
labels=['a','b','c','d','e','f','g','h','i','j']
df={'score':score,'attempts':attempts,'qualify':qualify,'labels':labels}
exam_data=p.DataFrame(df,index=name)
exam_data.isnull()

         score  attempts  qualify  labels
Sachin   False     False    False   False
Ganguly  False     False    False   False
Kohli    False     False    False   False
Johnson   True     False    False   False
Tylor    False     False    False   False
Waugh    False     False    False   False
Yuvraj   False     False    False   False
Kambil    True     False    False   False
Srinath  False     False    False   False
Munaf    False     False    False   False

In [28]:
print(p.datetime.now().date())

2019-12-24